services:
  - type: web
    name: creademo-backend
    runtime: node
    repo: https://github.com/Sepsepi/CREADEMO
    region: oregon
    plan: free
    branch: main
    rootDir: backend
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: PORT
        value: 3001
      - key: NODE_ENV
        value: production
    healthCheckPath: /api/health
